{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block sonata_formatter_type_widget %}

    <!-- widget: sonata_formatter_type_widget -->
    <div style="margin-bottom: 5px;">
        {{ form_widget(form.children[format_field]) }}

        {% if form.children[format_field].vars.choices|length > 1 %}
            <i>{{ "please_select_format_method"|trans({}, "SonataFormatterBundle") }}</i>
        {% endif %}
    </div>

    {{ form_widget(form.children[source_field]) }}

    <script>
        jQuery(document).ready(function() {
            // This code requires CKEDITOR
            if (typeof CKEDITOR === 'undefined') {
                return;
            }

            jQuery('#{{ form.children[format_field].vars.id }}').change(function() {
                {{ ckeditor_destroy(form.children[source_field].vars.id) }}

                var val = jQuery(this).val();

                if (val === 'richhtml') {
                    {{ include('@SonataFormatter/Form/ckeditor.html.twig', {'ckeditor_field_id': form.children[source_field].vars.id}) }}
                }
            });

            jQuery('#{{ form.children[format_field].vars.id }}').trigger('change');
        });
    </script>
{% endblock sonata_formatter_type_widget %}

{% block sonata_simple_formatter_type_widget %}

    <!-- widget: sonata_simple_formatter_type_widget -->

    {{ form_widget(form) }}

    <script>
        jQuery(document).ready(function() {
            // This code requires CKEDITOR
            if (typeof CKEDITOR === 'undefined') {
                return;
            }

            {% if format == 'richhtml' %}
                {{ include('@SonataFormatter/Form/ckeditor.html.twig', {'ckeditor_field_id': form.vars.id}) }}
            {% endif %}
        });
    </script>

{% endblock sonata_simple_formatter_type_widget %}
