{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle::empty_layout.html.twig' %}

{% set ckParameters = {'CKEditor': app.request.get('CKEditor'), 'CKEditorFuncNum': app.request.get('CKEditorFuncNum')} %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .content {
            padding: 20px 15px;
        }
        .wrapper {
            background: #ecf0f5 !important;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $(".select").click(function (e) {
                e.preventDefault();
                window.opener.CKEDITOR.tools.callFunction({{ app.request.get('CKEditorFuncNum')|escape('js') }}, $(this).attr("href"));
                window.close();
            });
        });
    </script>
{% endblock %}


{% block preview %}{% endblock %}

{% import _self as tree %}
{% macro navigate_child(collection, admin, root, current_category, depth) %}
    {% if root and collection|length == 0 %}
        <div>
            <p class="bg-warning">{{ admin.trans('warning_no_category', {}, admin.translationdomain) }}</p>
        </div>
    {% endif %}
    <ul{% if root %} class="sonata-tree sonata-tree--small js-treeview sonata-tree--toggleable"{% endif %}>
        {% for element in collection %}
            <li>
                <div class="sonata-tree__item{% if element.id == current_category %} is-active{% endif %}"{% if depth < 2 %} data-treeview-toggled{% endif %}>
                    {% if element.parent or root %}<i class="fa fa-caret-right" data-treeview-toggler></i>{% endif %}
                    <a class="sonata-tree__item__edit" href="{{ url(app.request.attributes.get('_route'), app.request.query.all|merge({category: element.id})) }}">{{ element.name }}</a>
                </div>

                {% if element.children|length %}
                    {{ _self.navigate_child(element.children, admin, false, current_category, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block list_table %}
    <div class="col-xs-6 col-md-3">
        {% if root_category is not null %}
            {{ tree.navigate_child([root_category], admin, true, datagrid.values['category']['value'], 1) }}
        {% endif %}
    </div>

    <div class="col-xs-12 col-md-9">
        <div class="box box-primary">
            <div class="box-body {% if admin.datagrid.results|length > 0 %}table-responsive no-padding{% endif %}">
                {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

                {% block list_header %}{% endblock %}

                {% if admin.datagrid.results|length > 0 %}
                    <table class="table table-bordered table-striped">
                        {% block table_header %}
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    {% for field_description in admin.list.elements %}
                                        {% if field_description.getOption('code') == '_batch' or field_description.name == '_action' %}
                                            {# Disable batch and actions #}
                                        {% else %}
                                            {% set sortable = false %}
                                            {% if field_description.options.sortable is defined and field_description.options.sortable%}
                                                {% set sortable             = true %}
                                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid)|merge(ckParameters) %}
                                                {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                            {% endif %}

                                            {% spaceless %}
                                                <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                                    {% if sortable %}<a href="{{ admin.generateUrl('ckeditor_browser', sort_parameters) }}">{% endif %}
                                                        {{ admin.trans(field_description.label) }}
                                                        {% if sortable %}</a>{% endif %}
                                                </th>
                                            {% endspaceless %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                                {% for object in admin.datagrid.results %}
                                    <tr>
                                        <td colspan="{{ (admin.list.elements|length) - 1}}">
                                            <div>
                                                <a href="{% path object, 'reference' %}" class="select" style="float: left; margin-right: 6px;">{% thumbnail object, 'admin' with {'width': 75, 'height': 60} %}</a>

                                                <strong><a href="{% path object, 'reference' %}" class="select">{{ object.name }}</a></strong> <br />
                                                {{ object.providerName|trans({}, 'SonataMediaBundle') }}{% if object.width %}: {{ object.width }}{% if object.height %}x{{ object.height }}{% endif %}px{% endif %}

                                                {% if formats[object.id]|length > 0 %}
                                                    - {{ 'title.formats'|trans({}, 'SonataMediaBundle') }}:
                                                    {% for name, format in formats[object.id] %}
                                                        <a href="{% path object, name %}" class="select">{{ name }}</a> {% if format.width %}({{ format.width }}{% if format.height %}x{{ format.height }}{% endif %}px){% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <br />
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    <div class="callout callout-info">
                        {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
                    </div>
                {% endif %}

                {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
            </div>
            {% block list_footer %}
                {% if admin.datagrid.results|length > 0 %}
                    <div class="box-footer">
                        <div class="form-inline clearfix">
                            {% if not app.request.isXmlHttpRequest %}
                                <div class="pull-right">
                                    {% block pager_results %}
                                        {% block num_pages %}
                                            {{ admin.datagrid.pager.page }} / {{ admin.datagrid.pager.lastpage }}
                                            &nbsp;-&nbsp;
                                        {% endblock %}

                                        {% block num_results %}
                                            {% transchoice admin.datagrid.pager.nbresults with {'%count%': admin.datagrid.pager.nbresults} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}
                                            &nbsp;-&nbsp;
                                        {% endblock %}

                                        {% block max_per_page %}
                                            <label class="control-label" for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}label_per_page{% endtrans %}</label>
                                            <select class="per-page small" id="{{ admin.uniqid }}_per_page" style="width: auto; height: auto">
                                                {% for per_page in admin.getperpageoptions %}
                                                    <option {% if per_page == admin.datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ admin.generateUrl('ckeditor_browser', {'filter': admin.datagrid.values|merge({'_per_page': per_page})}|merge(ckParameters)) }}">
                                                        {{ per_page }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endblock %}
                                </div>

                                {% block pager_links %}
                                    {% if admin.datagrid.pager.haveToPaginate() %}
                                        <hr/>
                                        <div class="text-center">
                                            <ul class="pagination">
                                                {% if admin.datagrid.pager.page > 2  %}
                                                    <li><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, 1)|merge(ckParameters)) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a></li>
                                                {% endif %}

                                                {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                                    <li><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)|merge(ckParameters)) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a></li>
                                                {% endif %}

                                                {# Set the number of pages to display in the pager #}
                                                {% for page in admin.datagrid.pager.getLinks(admin_pool.getOption('pager_links')) %}
                                                    {% if page == admin.datagrid.pager.page %}
                                                        <li class="active"><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, page)|merge(ckParameters)) }}">{{ page }}</a></li>
                                                    {% else %}
                                                        <li><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, page)|merge(ckParameters)) }}">{{ page }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                                    <li><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)|merge(ckParameters)) }}" title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a></li>
                                                {% endif %}

                                                {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage and admin.datagrid.pager.lastpage != admin.datagrid.pager.nextpage %}
                                                    <li><a href="{{ admin.generateUrl('ckeditor_browser', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)|merge(ckParameters)) }}" title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>

                                    {% endif %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block list_filters_actions %}
    {%- if admin.datagrid.filters|length %}
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
                        <i class="fa fa-filter"></i>
                        {{ 'link_filters'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b>
                    </a>

                <ul class="dropdown-menu" role="menu">
                        {% for filter in admin.datagrid.filters if (filter.options['show_filter'] is sameas(true) or filter.options['show_filter'] is null) %}
                        <li>
                            <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
                                    <i class="fa {{ (filter.isActive() or filter.options['show_filter']) ? 'fa-check-square-o' : 'fa-square-o' }}"></i>{{ admin.trans(filter.label, {}, filter.translationDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif -%}
{% endblock %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}

        <div class="col-xs-12 col-md-12 sonata-filters-box" style="display: {{ admin.datagrid.hasDisplayableFilters ? 'block' : 'none' }}" id="filter-container-{{ admin.uniqid() }}">
            <div class="box box-primary" >
                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('ckeditor_browser') }}" method="GET" role="form">
                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-sm-9">
                                {% for filter in admin.datagrid.filters %}
                                    <div class="form-group" id="filter-{{ admin.uniqid }}-{{ filter.name }}" sonata-filter="{{ (filter.options['show_filter'] is sameas(true) or filter.options['show_filter'] is null) ? 'true' : 'false' }}" style="display: {% if (filter.isActive() and filter.options['show_filter'] is null) or (filter.options['show_filter'] is sameas(true)) %}block{% else %}none{% endif %}">
                                        {% if filter.label is not sameas(false) %}
                                            <label for="{{ form.children[filter.formName].children['value'].vars.id }}" class="col-sm-3 control-label">{{ admin.trans(filter.label, {}, filter.translationDomain) }}</label>
                                        {% endif %}
                                        {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}

                                        <div class="col-sm-4 advanced-filter">
                                            {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                        </div>

                                        <div class="col-sm-4">
                                            {{ form_widget(form.children[filter.formName].children['value']) }}
                                        </div>

                                        <div class="col-sm-1">
                                            <label class="control-label">
                                                <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
                                                    <i class="fa fa-minus-circle"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 text-center">
                                <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                                {% set foo = form.children['_page'].setRendered() %}
                                {{ form_rest(form) }}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
                                    </button>

                                    <a class="btn" href="{{ admin.generateUrl('ckeditor_browser', {filters: 'reset'}|merge(ckParameters)) }}">
                                        {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                </div>

                                <div class="form-group">
                                    <a href="#" data-toggle="advanced-filter">
                                        <i class="fa fa-cogs"></i>
                                        {{ 'btn_advanced_filters'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        {% for paramKey, paramValue in admin.persistentParameters|merge(ckParameters) %}
                            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

